<!DOCTYPE html>
<html>
<head>
	<title>Oh My Teacher</title>
	<script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
	<form action = "http://localhost:5000/oh_my_teacher" method = "post" enctype="multipart/form-data">




       <input name="file" class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" id="file_input" type="file" accept=".mp3, .wav, .m4a"><input type = "submit" value="Upload">

        <input type = "submit" value="Upload">



	</form>



</body>
</html>
